
<div class="hero-section">
    <div style="margin-top: 5%;margin-right:45px;" class="card-grid">
        <a class="card" style="margin-left:50px;" (click)="goToDogs('dog')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/1.jpg)">
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px; " (click)="goToCats('cat')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/2.jpg) " >
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;" (click)="goToRabits('Rabit')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/3.jpg)">
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;" (click)="goToHorse('Horse')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/4.jpg)" >
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;margin-top:20px;margin-bottom:100px;" (click)="goToTurtels('Turtle')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/5.jpg)">
            </div>111111
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;margin-top:20px;margin-bottom:100px;"(click)="goToBird('bird')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/6.jpg)">
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;margin-top:20px;margin-bottom:100px;" (click)="goToFish('Fish')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/7.jpg)">
            </div>
            <div class="card__content">
            </div>
        </a>
        <a class="card" style="margin-left:50px;margin-top:20px;margin-bottom:100px;" (click)="goToHedghog('hedghog')">
            <div class="card__background"
                style="background-image: url(../../../assets/images/welcome-hero/8.jpg)">
            </div>
            <div class="card__content">
            </div>
        </a>
    <div>
</div>
