		<!--contact start-->
		<footer id="contact"  class="contact">
			<div class="container">
				<div class="footer-top">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<div class="footer-logo">
									<a href="index.html">Pet Hero</a>
								</div>
								<p>
									Welcome to our beloved Pet Herp 
								</p>
								<div class="footer-contact">
									<p>zakiDono&#64;gmail.com</p>
									<p>55295233</p>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h2>about devloon</h2>
								<ul>
									<li><a routerLink="home">home </a></li>
									<li><a href="http://localhost:4200/Species">SPECIES</a></li>
									<li><a href="http://localhost:4200/pet">Pets </a></li>
									
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<div class="single-footer-widget">
								<h2>top brands</h2>
								<div class="row">
									<div class="col-md-7 col-xs-6">
										<ul>
											<li><a href="http://localhost:4200/pet/dog">dog</a></li>
											<li><a href="http://localhost:4200/pet/cat">cat</a></li>
											<li><a href="http://localhost:4200/pet/Rabit">Rabit</a></li>
											<li><a href="http://localhost:4200/pet/Horse">Horse</a></li>
											
									
										</ul>
									</div>
									<div class="col-md-5 col-xs-6">
										<ul>
											<li><a href="http://localhost:4200/pet/Turtle">Turtle</a></li>
											<li><a href="http://localhost:4200/pet/bird">bird</a></li>
											<li><a href="http://localhost:4200/pet/fish">fish</a></li>
											<li><a href="http://localhost:4200/pet/hedgehog">hedgehog</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-3 col-sm-6">
							
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="row">
						<div class="col-sm-6">
							<p>
								&copy; copyright.designed and developed by <a href="https://www.themesine.com/">zakiDono</a>.
							</p><!--/p-->
						</div>
						<div class="col-sm-6">
							<div class="footer-social">
								<a href="#"><i class="fa fa-facebook"></i></a>	
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-pinterest-p"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>	
							</div>
						</div>
					</div>
				</div><!--/.footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.contact-->
		<!--contact end-->